
.m-b-lg{
	margin-bottom: 30px;
}
.m-t-sm{
	margin-top: 10px;
}

.footer-line{
	width: 60px;
	height: 1px;
	margin: 60px auto 0;


}

.main-footer h1{
margin-top: 10px;
font-size: 30px;
font-weight: 200;
}

.main-footer p{
	color: white;
	font-size: 15px;
}

.main-footer p.footer-email{
	color: white;

}

.main-footer .btn-primary{
	background-color: #43331c;
	border-color: #43331c;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	font-weight: 700;
	border-radius: 3px;
}

.social-icon{
	display: flex;
	justify-content: center;
}
.social-icon a{
	background: #43331c;
	color: white;
	padding: 4px 8px;
	height: 28px;
	width: 28px;
	display: block;
	border-radius: 50%;
	cursor: pointer;
}
.social-icon li{
	list-style: none;
	padding: 3px;
	text-align: center;
}
