.main-body{
    height: 100vh;
    // border: 3px solid red;
    display: flex;
    color: whitesmoke;
    background-color: rgba(48, 47, 47, 0.973);
    padding: 100px 0;
    width: 100%;
    min-height: 450px;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    // background-image: url('https://www.luxoft.com/upload/medialibrary/4d7/luxoft_home.jpg');
}

section#home {
background-image: url("https://www.luxoft.com/upload/medialibrary/4d7/luxoft_home.jpg");
// background-color: darkcyan;
}

.upper-banner{
    display: flex;
    // max-height: 450px;
    vertical-align: middle;
    // width: 100%;
    // border: 3px solid chartreuse;
}

.half-width{
    width: 100%;
    // border: 5px solid cyan;
}

.main-body h1 ,.main-body h5 {
    opacity: 1;
    transform: translateY(0%);
    color: white;
    transition: 0.6 ease;
    position: relative;
}

.more-btns{
    display: flex;
    flex-wrap: wrap;

}

.actions{
    opacity: 1;
    transform: translateY(0%);
}
.more-btns .actions{
    margin-right: 15px;
}

.main-body .actions{
    margin-top: 26px;
    position: relative;
    transition: 0.6s ease 0.4s;
}


.scroller{
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.3px;
    font-weight: 600;
    transition: 1.4s ease 1s;
    cursor: pointer;  
}

.scroller-text{
    max-width: 330px;
}

.scroll-down-arrow{
    top: 0;
    opacity: 1;
    animation: pulse 0.3s linear 1.8s infinite alternate;

    width: 10px;
    height: 10px;
    border: 3px solid white;
    margin: 14 auto 0;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    position: relative;
    transition: 0.8s ease 0.8s;
}

section#services{
//    height: 450px;
//    border: 3px solid goldenrod; 
margin-top: 0;
}


.our-services{
    background: #eee;
    padding: 80px 0 60px 0;
    margin: 80px 0 60px 0;
    color: black;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #003979;
}

.our-services-top h2{
    transition: 0.5s ease;
    position: relative;
    top: 0;
    opacity: 1;
}

.our-services-top p{
    top: 0;
    opacity: 1;
    line-height: 24px;
    transition: 0.5s ease 0.1s;
    position: relative;
    margin-bottom: 1.4rem;
}

.services-description{
    padding-top: 48px;
    max-width: 1454px;
    min-height: 325px;
    margin: 0 auto 35px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30;
}

.service-grid-area .area{
    color: #444;
}
.area-inner{
    display: flex;
    vertical-align: middle;
}
section#digital-capability{
    background-image: url("https://www.luxoft.com/local/templates/lux40/img/bg/services-bg.jpg");
    border: 3px royalblue solid;
}

footer#main-footer{
    border: 3px solid purple;
}