.main-body{
    height: 100vh;
    // border: 3px solid red;
    display: flex;
    color: whitesmoke;
    background-color: rgba(48, 47, 47, 0.973);
    padding: 100px 0;
    width: 100%;
    min-height: 450px;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    // background-image: url('https://www.luxoft.com/upload/medialibrary/4d7/luxoft_home.jpg');
}

section#home {
background-image: url("https://www.luxoft.com/upload/medialibrary/4d7/luxoft_home.jpg");
// background-color: darkcyan;
}

.upper-banner{
    display: flex;
    // max-height: 450px;
    vertical-align: middle;
    // width: 100%;
    // border: 3px solid chartreuse;
}

.half-width{
    width: 100%;
    // border: 5px solid cyan;
}

.main-body h1 ,.main-body h5 {
    opacity: 1;
    transform: translateY(0%);
    color: white;
    transition: 0.6 ease;
    position: relative;
}

.more-btns{
    display: flex;
    flex-wrap: wrap;

}

.actions{
    opacity: 1;
    transform: translateY(0%);
}
.more-btns .actions{
    margin-right: 15px;
}

.main-body .actions{
    margin-top: 26px;
    position: relative;
    transition: 0.6s ease 0.4s;
}


.scroller{
	display: block;
	color: #ffc477;
	text-decoration: none;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.3px;
    font-weight: 600;
    transition: 1.4s ease 1s;
    cursor: pointer;
}

@keyframes pulse {
	0% {
			top: 0
	}

	100% {
			top: 8px
	}
}

.scroller-text{
    max-width: 330px;
}

.scroll-down-arrow{
    top: 0;
    opacity: 1;
    animation: pulse 0.3s linear 1.8s infinite alternate;

    width: 10px;
    height: 10px;
    border: 3px solid white;
    margin: 14 auto 0;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    position: relative;
    transition: 0.8s ease 0.8s;
}

section#services{
//    height: 450px;
//    border: 3px solid goldenrod;
margin-top: 0;
}


.our-services{
    background: #5b5a5a;
    padding: 80px 0 60px 0;
    // margin: 80px 0 60px 0;
    color: black;
}
.services-top{
    text-align: center;
    color: white;

}
h1,h2,h3,h4,h5,h6{
    // font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #e38710;
}

.btn{
    font-size: 14px;
    text-transform: uppercase;
    padding: 9px 23px;
    // min-width: 178px;
    box-shadow: none !important;
    position: relative;
    border-radius: 3px;
    border: none;
    color: white;
}
section#services .btn::after{
    content: "";
    color: white;
    width: 100%;
    height: 100%;
    border: 1px solid #777676;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    pointer-events: none;
    border-radius: 3px;
    transform: matrix(1,0,0,1,0,0);
    transition: 0.3s ease;
    }

.btn-white::after{
content: "";
width: 100%;
color: white;
height: 100%;
border: 1px solid #ffffff;
position: absolute;
left: 0;
top: 0;
display: block;
pointer-events: none;
border-radius: 3px;
transform: matrix(1,0,0,1,0,0);
transition: 0.3s ease;
}
.our-services-top h2{
    transition: 0.5s ease;
    position: relative;
    top: 0;
		opacity: 1;
		color: #e38710;
}

.our-services-top p{
    top: 0;
    opacity: 1;
    line-height: 24px;
    transition: 0.5s ease 0.1s;
    position: relative;
    margin-bottom: 1.4rem;
}

.services-description{
    padding-top: 48px;
    max-width: 1454px;
    min-height: 325px;
    margin: 0 auto 35px;

}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30;
}

.services-grid-area{
    text-align: center;
}
.services-grid-area .area{
display: flex;
 color: #444;
width: 100%;
border-top: 1px solid #cccdd7;
margin-top: 60px;
padding-top: 60px;
}
.area-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.services-grid-area .area-inner h4{
    color: white;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 200;
    position: relative;
    opacity: 1;
    top: 0;
    transition: 0.5s ease 0.2s;
}

services-grid-area .col-xl-4 .area-inner p{
    top: 0;
    opacity: 1;
    color: white;
}

.services-grid-area .area-inner h4 strong{
    font-weight: 600;
    display: block;
}


.services-grid-area .area-inner .button{
   opacity: 1;
   visibility: visible;
   margin-top: 35px;
}

.services-grid-area .area-inner .button .btn{
    color: #ffffff;
    background: transparent;

 }
section#about-us{
    background-image: url("https://www.luxoft.com/local/templates/lux40/img/bg/services-bg.jpg");
    // border: 3px royalblue solid;
}

.about-us{
    background: #eee;
    padding: 80px 0 60px 0;
    margin: 80px 0 0;
}
.about-us-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  color: white;
}

.container{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

section#about-us a{
    color: white;
    text-decoration: none;

}
.top-about-us-description{
    color: white;
    text-align: center;
    font: inherit;
}
.top-about-us-description h2{
    color: white;

}
.top-about-us-description .button{
    padding-top: 20px;
    padding-bottom: 15px;
}

